node_modules
.next
.env
.env.local
coverage
*.log
.DS_Store
out
android/.gradle
android/local.properties
android/app/build
android/build
android/app/src/main/assets/public
ios/App/App/public
ios/App/DerivedData
ios/App/build
*.tsbuildinfo
